.btn-cocktail {
  color: white;
  background-color: #FFCCCB;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  &:hover {
    background-color: rgb(255, 147, 145);
    color: white;
  }
}
